body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
   
}

.main-section {
    background-color: #f4f4f4;
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 550px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex: 1;
    padding: 0 1rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
